<!doctype html>
<html>
<%- partial('partials/head')%>
<body>
<div id="wrapper">
    <div id="bgg"></div>
    <%- partial('partials/header',{},{cache:true})%>
    <%- partial('partials/logo',{},{cache:true})%>
    <div id="main" class="clearfix">
        <section id="main-left">
            <%- body%>
        </section>
        <section id="main-right">
            <%- partial('partials/my',{},{cache:true})%>
        </section>
    </div>
    <%- partial('partials/footer',{},{cache:true})%>
</div>
<%- partial('thirdparty/search/algolia.ejs',{},{cache:true})%>
</body>
</html>