<article id="logo">
    <div id="logo-content">
        <h3>
            <a href=""><%= theme.logo.name%><b><%= theme.logo.superscript%></b></a>
        </h3>
        <p>
            <%= theme.logo.describe.one%><br>
            <%= theme.logo.describe.two%><br>
            <%= theme.logo.describe.three%>
        </p>
    </div>
</article>