<article id="logo">
    <div id="logo-content">
        <header>
            <a href=""><%= theme.inf.name%><b><%= theme.inf.superscript%></b></a>
        </header>
        <p>
            <%= theme.inf.describe.one%><br>
            <%= theme.inf.describe.two%><br>
            <%= theme.inf.describe.three%>
        </p>
    </div>
</article>